{
  "root": true,
  "extends": ["@smartpension/eslint-config"],
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "settings": {
    "babel": true,
    "compat": true
  },
  "ignorePatterns": ["/dist"],
  "overrides": [
    {
      "files": ["*.stories.tsx", "*.test.tsx"],
      "rules": {
        "@typescript-eslint/no-unsafe-call": 0,
        "@typescript-eslint/no-unsafe-member-access": 0,
        "@typescript-eslint/no-unsafe-assignment": 0,
        "@typescript-eslint/no-unsafe-return": 0
      }
    }
  ]
}
