{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "airbnb-typescript",
    "airbnb/hooks",
    "adjunct"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
